@import "../variables";
@import "../mixins";

nav.navbar {
  height: $navbar-height;
  z-index: $z-navbar;
}

.navbar-collapse.collapse.show {
  position: relative;
  z-index: $z-overlay;
}

.nav-item.dropdown .dropdown-toggle::after {
  display: none;
}
