<header>
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div>
      <img src="/assets/logo.png" alt="Logo" style="height:40px;">
      <div id="react-navigation"></div> <!-- React navigation mount -->
    </div>
    <div>
      <div
        id="react-user"
        data-current-user="<%= current_user.to_json(only: [:username]) if current_user %>"
        data-logout-path="<%= logout_path %>"
      ></div> <!-- React user mount -->
    </div>
  </div>
</header>
